header	{ display:block; margin-bottom: 15px; float: left}
nav		{ display:block; width: 240px; float: left;	}
section	{ display:block; float: right;				}
footer	{ clear: both;								}
#index {width: 600px;}
#matricula, #turmas {width: 720px;}
#cursos,#eventos {width: 860px;}
body    { background-color: #FADADA; color: #880088; font-size: 16px; font-family: Verdana, "Liberation";}
a:link {color: #EE0000;}
a:visited {color: #880088;}
a {	text-decoration:none;}
ul.menu {color: #EE0000; list-style-type: disc; width: 120px; padding-top: 15px; border-top: 2px; border-top-style: solid;
		padding-bottom: 15px; border-bottom: 2px; border-bottom-style: solid;}

.ender { text-align: center; font-size: 13px; padding-top: 15px; border-top: 3px; border-top-style: solid; font-style: italic;}

.textoNormal {text-align: justify;}

.apres {text-align: center;}

.ptopbottom {padding-top: 20px; padding-bottom: 20px;}
.marginBottom {margin-bottom: 50px;}

img.imgLogo {border-bottom: 3px; border-bottom-style: solid;}

.quadro {background-color: #FFFFFF; width: 250px; float: right; border: 1px; border-style: solid; padding-bottom: 10px; margin-bottom: 20px;}

li.cursos {list-style-type: circle;}
li.faixaetaria {list-style-type: square;}
li.toppad {padding-top: 15px;}

.tabCursos {
	border: 1px; border-style: solid; border-collapse: separate; width: 600px; margin-bottom: 10px;
} 

.tabCursos th {border:1px; border-style: solid; padding: 10px;}
.tabCursos td {background-color: #FFFFFF; border:1px; border-style: solid; padding: 10px;}
.tabCursos td.tabImg {width: 100px; background-color: transparent;}
.tabCursos td.tabImg img {vertical-align: middle; padding-left: 10px; padding-right: 10px;}
.tabTitulo {background-color: #600060; color: #FFFF00;}
.tabSubTit {background-color: #B000B0; color: #FFFFFF;}
.texto.ballet:after {
	content: "O ballet clássico é uma atividade física que serve como base para as mais diversas danças; propicia a conscientização corporal; proporciona equilíbrio entre corpo e mente e aumenta a auto-estima e a auto-confiança.";
}
.texto.jazz:after {
	content: "O Jazz é um estilo de dança essencialmente popular para as crianças e adolescentes, ajuda a desenvolver o espírito de equipe e formação da auto-estima. Para o físico, aumenta a capacidade cardiorespiratória, tonifica os músculos e corrige a postura.";
}
.texto.sapateado:after {
	content: "apateado é uma arte visual e sonora. É um misto de ritmo, som, técnica, movimento e estilo. É uma dança alegre que libera o prazer de seus praticantes e faz os pés cantarem. Este estilo de dança desenvolve a percepção musical e melhora a coordenação motora.";
}
.reserva fieldset {background-color: #FFFFFF; width: 560px; margin-left: auto; margin-right: auto;}
.reserva label {display: block; width: 90px; float: left; margin-top: 10px;}
.reserva label[for="eventos"] {width: 60px;}
.reserva label.right {float: right; display: inline-table;}
.reserva select {float: right;}
.reserva input[type="reset"], .reserva input[type="submit"] {float: right;}
.reserva input[type="text"][name="matricula"] {width: 120px;}
.reserva input[type="text"][name="valor"] {margin-top: 15px;}
.reserva input[type="text"] {width: 60px;}

.reserva label[for="valor"] {margin-top: 10px;}

.reserva input { margin-top: 15px;}
.reserva select { margin-top: 15px;}
.reserva {margin-bottom: 20px;}

.matricula fieldset.sexo {float: right; width: auto;}
.matricula fieldset {background-color: #FFFFFF; width: 400px; margin-left: auto; margin-right: auto;} 
.matricula input.maior {width:300px;}
.matricula input.medio {width:120px;}
.matricula input.pequeno {width:44px;}
.matricula input.menor {width:22px;}
.matricula label.direita {width:22px;}

.matricula label {display: block; float: left;width: 80px}
.matricula div.linha2 { 
	width: 380px;
	display: table; position: static;
}

.child {
	display: table-cell; vertical-align: middle; width: auto; position: static;
}
.matricula div.linha label { display: inline-table;}
.matricula div.linha { margin-top: 10px;}
.matricula input[type="radio"] {vertical-align: baseline;}
.matricula input {}

.left {float: left;}
.right {float: right;}

ul.festival {list-style-type: circle;}

.menuBotao {
    width:  400px;
    padding: 8px;
    border-spacing: 8px;
}
.tabBotao {
    width: 100%;
    border: 8px outset;
    padding: 6px;
    border-color: #B000B0;
    border-collapse: separate;
}
.tabInfo {
    width:  400px;
    border-spacing: 6px;
}
.tabColInfo {
    width: 110px;
    padding: 10px;
    font-weight: bold;
    background-color: #FEBEBE;
    vertical-align: top;
}
#idade {
    padding: 10px;
    font-weight: bold;
    background-color: #FEBEBE;
}
#danca {
    height: 90px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background-color: #FEBEBE;
}

#danca ul {list-style-type: circle;}