header	{ display:block; margin-bottom: 15px; float:left;		}
nav		{ display:block; width: 240px; float: left;	}
section	{ display:block; float: right;				}
footer	{ clear: both;								}
body    { background-color: #FADADA; color: #880088; font-size: 16px; font-family: Verdana, "Liberation";}
a:link {color: #EE0000;}
a:visited {color: #880088;}
a {	text-decoration:none;}
ul.menu {color: #EE0000; list-style-type: disc; width: 120px; padding-top: 15px; border-top: 2px; border-top-style: solid;
		padding-bottom: 15px; border-bottom: 2px; border-bottom-style: solid;}

.ender { text-align: center; font-size: 13px; padding-top: 15px; border-top: 3px; border-top-style: solid; font-style: italic;}

.textoNormal {text-align: justify;}

.apres {text-align: center;}

.ptopbottom {padding-top: 20px; padding-bottom: 20px;}
.marginBottom {margin-bottom: 50px;}

img.imgLogo {border-bottom: 3px; border-bottom-style: solid;}

.quadro {background-color: #FFFFFF; width: 250px; float: right; border: 1px; border-style: solid; padding-bottom: 10px; margin-bottom: 20px;}

li.cursos {list-style-type: circle;}
li.faixaetaria {list-style-type: square;}
li.toppad {padding-top: 15px;}

.tabCursos {
	border: 1px; border-style: solid; border-collapse: separate; width: 600px; margin-bottom: 10px;
} 

.tabCursos th {border:1px; border-style: solid; padding: 10px;}
.tabCursos td {background-color: #FFFFFF; border:1px; border-style: solid; padding: 10px;}
.tabCursos td.tabImg {width: 100px; background-color: transparent;}
.tabCursos td.tabImg img {vertical-align: middle; padding-left: 10px; padding-right: 10px;}
.tabTitulo {background-color: #600060; color: #FFFF00;}
.tabSubTit {background-color: #B000B0; color: #FFFFFF;}
.texto.ballet:after {
	content: "O ballet clássico é uma atividade física que serve como base para as mais diversas danças; propicia a conscientização corporal; proporciona equilíbrio entre corpo e mente e aumenta a auto-estima e a auto-confiança.";
}
.texto.jazz:after {
	content: "O Jazz é um estilo de dança essencialmente popular para as crianças e adolescentes, ajuda a desenvolver o espírito de equipe e formação da auto-estima. Para o físico, aumenta a capacidade cardiorespiratória, tonifica os músculos e corrige a postura.";
}
.texto.sapateado:after {
	content: "apateado é uma arte visual e sonora. É um misto de ritmo, som, técnica, movimento e estilo. É uma dança alegre que libera o prazer de seus praticantes e faz os pés cantarem. Este estilo de dança desenvolve a percepção musical e melhora a coordenação motora.";
}